@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Space Mono", monospace;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes borderPulse {
    0% {
        border-color: #3b82f6;
        box-shadow: 0 0 10px #3b82f6;
      }
      50% {
        border-color: #8b5cf6;
        box-shadow: 0 0 20px #8b5cf6;
      }
      100% {
        border-color: #3b82f6;
        box-shadow: 0 0 10px #3b82f6;
      }
}

#container {
  border: 4px solid #3b82f6;
  border-radius: 1rem;
  background: #ffffff;
  padding: 3rem 5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;

  animation: borderPulse 4s infinite ease-in-out;
}


#time-element {
  font-size: 6rem;
  font-weight: bold;
  color: #0f172a;

  animation: tickBounce 1s infinite;
}

#amPm-element {
  font-size: 3rem;
  font-weight: bold;
  color: #475569;
  margin-left: 1rem;
  vertical-align: super;
}

#date-element {
  font-size: 2rem;
  font-weight: 600;
  color: #1e293b;
  margin-top: 1rem;
}
